body {
    animation-name: bcround;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes bcround {
    0% {background-color: rgba(0, 255, 255, 0.42);}
    25% {background-color: rgba(0, 0, 255, 0.42);}
    50% {background-color: rgba(76, 0, 130, 0.42);}
    75% {background-color: rgba(137, 43, 226, 0.42);}
    100% {background-color: rgba(153, 50, 204, 0.42);}
}